* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--md-size);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1 {
  font-size: var(--xl-size);
}

div {
  display: flex;
  flex-direction: column;
  gap: var(--md-space);
}

section {
  background: linear-gradient(var(--gradient-angle), var(--mainer) 33%, var(--mainest));
  border-radius: var(--md-rounded-radius);
  padding: var(--md-space);
  box-shadow: var(--shadow);
}
